{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="content">
    <h1>Profil de l'utilisateur</h1>

    <p>Id : {{ user.email }}</p>
    <p>Nom de code : {{ user.email }}</p>

    <a href="{{ path('app_profile_edit', {'id': user.id}) }}">Modifier</a>

    <br>
    <br>

    {% if user.roles == ["ROLE_ADMIN","ROLE_USER"] %}
        <a href="{{ path('app_admin_index') }}">Espace administrateur</a>
    {% endif %}

    <br>
    <br>
    <a href="{{ path('app_logout') }}"> Se déconnecter </a>

</div>
{% endblock %}
