{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="content">

    <div class="home">
        <img src={{asset("media/logogif.gif")}}>
        <h1>Bienvenue au QG des voleurs fantomes !</h1>

        <div class="droite">
            <a href="https://google.com">
                <img src={{asset("media/mona.gif")}} height="150px">
                <h2>Les news</h2>
            </a>
        </div>

        <a href="https://google.com">
            <img src={{asset("media/futaba.gif")}} height="150px">
            <h2>Articles</h2>
        </a>
        
        <br>
        <br>

        <div class="droite">
            <a href="https://google.com">
                <img src={{asset("media/car.gif")}} height="150px">
                <h2>Speedrun</h2>
            </a>
        </div>

        <a href="https://google.com">
            <img src={{asset("media/awakening.gif")}} height="150px">
            <h2>Annonces</h2>
        </a>
    </div>

</div>
{% endblock %}
