{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="content">

    <div class="home">
        <img src={{asset("media/logogif.gif")}} alt="gif logo voleurs fantomes">
        <h1>Bienvenue au QG des voleurs fantomes !</h1>

        <div class="droite">
            <a href="{{ path('app_home') }}">
                <img src={{asset("media/mona.gif")}} height="150px" alt="gif morgana">
                <h2>Les news</h2>
            </a>
        </div>

        <a href="{{ path('app_articles_index') }}">
            <img src={{asset("media/futaba.gif")}} height="150px" alt="gif morgana">
            <h2>Articles</h2>
        </a>
        
        <br>
        <br>

        <div class="droite">
            <a href="{{ path('app_videos') }}">
                <img src={{asset("media/car.gif")}} height="150px" alt="gif parodie what is love">
                <h2>Vidéos</h2>
            </a>
        </div>

        <a href="{{ path('app_home') }}">
            <img src={{asset("media/awakening.gif")}} height="150px" alt="gif joker et arsène">
            <h2>Annonces</h2>
        </a>
    </div>

</div>
{% endblock %}
