{% extends 'base.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
<div class="content">
    <h1>Tous les articles !</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Miniature</th>
                <th class="action">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.nom }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.miniature }}</td>
                <td class="action">
                    <a href="{{ path('app_articles_show', {'id': article.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
