{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<div class="content">
<div class="art">
   
    <h1>{{ article.nom }}</h1>
    <h3> par {{ article.auteur.email }} </h3>
    
    <br>
    <br>
    
    <img src="{{ asset('uploads/' ~ article.miniature) }}" alt="{{ article.nom|raw|e('html_attr') }}" width="100%" height="auto">
    
    <br>
    <br>
    
    <h3>{{ article.description }}</h3>

    <br>
    <br>

    <a href="{{ path('app_articles_index') }}">Retour aux articles</a>

</div>
</div>
{% endblock %}
